<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>

    <!-- Link to the bootstrap stylesheet:  insert this just before the </head> tag  (this version fits on a page) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- END Link to the bootstrap stylesheet -->
</head>
<body>

    <!-- Navigation Bar -->
    <div th:replace="base :: navlinks"></div>
    <!-- End Navigation Bar -->

    <div class="container">

        <!-- Header -->
        <h2>Course Listing</h2>
        <!-- End Header -->

        <!-- Process HTML Page -->
        <h1>Course List</h1>
        <a href="/add">Add a Course</a><br />
        <table>
            <tr>
                <th>Title</th>
                <th>Instructor</th>
                <th>Credits</th>
                <td>Actions</td>
            </tr>
            <tr th:each="course : ${courses}">
                <td th:text="${course.title}"></td>
                <td th:text="${course.instructor}"></td>
                <td th:text="${course.credit}"></td>
                <td>
                    <a th:href="@{/update/{id}(id=${course.id})}">Update</a> -
                    <a th:href="@{/detail/{id}(id=${course.id})}">Details</a> -
                    <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a>
                </td>
            </tr>
        </table>
        <!-- End Process HTML Page-->

        <!-- Footer -->
        <div th:replace="base :: footer"></div>
        <!-- End Footer -->

    </div>

    <!-- JS code: insert this just before the </body> tag  (this version fits on a page) -->
    <div th:fragment="jsFooter">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
    </div>
    <!-- END JS code -->
</body>
</html>